@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;400;600&family=Open+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .sidebar-icon {
    @apply relative flex items-center justify-center
           h-16 w-16 my-4 mx-6 shadow-lg
           bg-neutralgray rounded-3xl p-4 transition-all duration-300;
  }

  .sidebar-tooltip {
    @apply content-center text-lg capitalize w-1/2 my-auto
           mx-auto transition-all duration-300;
  }

  .panel {
    @apply rounded-lg h-60 shadow-md bg-white hover:scale-105
           transition-all duration-500 grid grid-rows-4 grid-cols-4;
  }

  .data-title {
    @apply text-secondary mt-5 ml-5 font-montserrat font-extrabold text-xl;
  }

  .data-change {
    @apply text-secondary mt-5 mr-5 ml-auto text-right font-montserrat font-extrabold text-xl
             ;
  }

  .data-value {
    @apply text-secondary m-3 font-montserrat font-extrabold
             text-[72px] text-center align-middle h-fit;
  }

}

html,
body,
#root,
.app {
    height: 100%;
    background-color: #F5F5F5;
    @apply text-white;
}