@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@300;400;600&family=Open+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .sidebar-icon {
    @apply relative flex items-center justify-center
           h-16 w-16 my-4 mx-auto shadow-lg
           bg-lightsecondary text-white
           hover:bg-accent
           rounded-3xl hover:rounded-xl
           p-4 hover:p-2
           transition-all duration-300;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14
           rounded-md shadow-md text-white bg-gray-900
           text-xs font-bold transition-all duration-100
           scale-0 origin-left;
  }

  .panel {
    @apply rounded-xl h-60 shadow-md bg-lightneutral hover:scale-105
           hover:bg-secondary transition-all duration-300
  }

}

html,
body,
#root,
.app {
    height: 100%;
    background-color: #457EB0;
    @apply text-white;
}